@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", sans-serif;
}
body {
  margin: 0;
  align-items: center;
}
#all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 320px;
  height: auto;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transform: skewY(345deg);
  transition: 0.5s;
}

.product-card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.product-card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.product-card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.product-card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.product-card .contentBox h3 {
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-card .contentBox h2 {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.img {
  height: 300px;
  width: auto;
}

.btn-group {
  display: flex;
  align-items: space-around;
  margin: 1rem 1rem 1rem 2.7rem;
}

.remove {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
}
.edit {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
}
.remove:hover {
  filter:brightness(50%)
}
.edit:hover {
  filter:brightness(50%)
}

